@charset "UTF-8";

* {margin: 0%;}

@font-face{
    font-family:'muthiara';
    src:url('fontes/fontmuthiara/Muthiara\ demo\ version.otf');
}

body{
   background-color:var(--amareloalaranjado)
}

header{
    background-color:#BF4904;
    color:#ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:40px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288); 
}

nav>div{
    display:inline-block;
}

.menuimg1{
    padding:7px 5px 0px 30px;
    width: 24px;
    height: auto;
}

.menut1{
    font-family:'muthiara';
    font-size: 22px;
    color:#F9F9F9;
    padding: 15px 5px 0xp 5px;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.582);
    
   
}

main{
    background-color:#F9F9F9;
}

:root{
    --lilas: #BD6DF2;
    --roxo: #532A8C;
    --amareloalaranjado: #F2B705;
    --laranja: #F28907;
    --marrom: #BF4904;
    
    --cor6creme: #F9F9F9;
}